#target folders
cli/bin
cli/doc
cli/target/classes
cli/target/generated-source
cli/target/lib
cli/target/maven-archiver
cli/target/maven-status
cli/target/test-classes
cli/*.log
cli/sendtojira-.log

jenkins/target/CastToJiraConnector.jar
jenkins/target/classes
jenkins/target/tmp
jenkins/target/CastToJiraConnector/META-INF/
jenkins/target/CastToJiraConnector/WEB-INF/
jenkins/target/eclipse-classes/
jenkins/target/generated-test-sources/
jenkins/target/maven-status/
jenkins/target/test-classes/
jenkins/work/

jira-client/target/maven-status
jira-client/target/classes
jira-client/target/test-classes
jira-client/target/surefire-reports

cast2jira.zip
.idea